body {
    border-width: 20px;
    border: 5px solid white;


}

/* Definición del fondo específico para esta página */
.test-page-background {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-oscuro-abstracto_1048-1920.jpg?size=338&ext=jpg&ga=GA1.1.1319243779.1710979200&semt=ais');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: 18px;
}

h2 {
    color: white;
}

label {
    color: white;
    font-size: 18px;
}

#botonEnviarTest {
    background-color: rgb(225, 108, 122);
    border: black;
    color: black;
}