<!DOCTYPE html>
<html>

<body class="test-page-background" style="text-align: center">
    <link rel="stylesheet" type="text/css" href="pagina-test-dificil.component.css">

    <h1>Test Dificultad Dificil</h1>

    <a><img style="width: 60px" src="../../assets/img/MiLogo.png"> </a>
    <hr>

    <form id="formularioTest" (submit)="enviarTest($event)">
        <!-- Pregunta 1 -->
        <img width="300px" src="../../assets/img/FlechaBlancaRecto.jpg" alt="">
        <br>
        <p>1. ¿Qué indica una señal circular con una flecha en dirección hacia arriba?</p>
        <input type="radio" id="a21" name="pregunta1" value="a21">
        <label for="a21">Prohibición de circular recto</label>
        <br>
        <input type="radio" id="b21" name="pregunta1" value="b21">
        <label for="b21">Obligación de seguir recto</label>
        <br>
        <input type="radio" id="c21" name="pregunta1" value="c21">
        <label for="c21">Dirección obligatoria hacia arriba</label>
        <br>
        <br><br><br><br><br>

        <!-- Pregunta 2 -->
        <img width="300px" src="../../assets/img/BeberConduciendo.jpg" alt="">
        <br>
        <p>2. ¿Cuál es la sanción por circular con una tasa de alcohol en sangre superior a la permitida?</p>
        <input type="radio" id="a22" name="pregunta2" value="a22">
        <label for="a22">Multa económica</label>
        <br>
        <input type="radio" id="b22" name="pregunta2" value="b22">
        <label for="b22">Retirada temporal del carné de conducir</label>
        <br>
        <input type="radio" id="c22" name="pregunta2" value="c22">
        <label for="c22">Ambas respuestas anteriores son correctas</label>
        <br>
        <br><br><br><br><br>

        <!-- Pregunta 3 -->
        <img width="300px" src="../../assets/img/Diferencial.jpg" alt="">
        <br>
        <p>3. ¿Cuál es la función principal de un diferencial en un vehículo?</p>
        <input type="radio" id="a23" name="pregunta3" value="a23">
        <label for="a23">Permitir que las ruedas giren a diferentes velocidades mientras mantienen tracción</label>
        <br>
        <input type="radio" id="b23" name="pregunta3" value="b23">
        <label for="b23">Controlar la velocidad del vehículo en curvas pronunciadas</label>
        <br>
        <input type="radio" id="c23" name="pregunta3" value="c23">
        <label for="c23">Regular la presión de los neumáticos para un mejor agarre en diferentes superficies</label>
        <br>
        <br><br><br><br><br>


        <!-- Pregunta 4 -->
        <img width="300px" src="../../assets/img/Ambulancia.jpg" alt="">
        <br>
        <p>4. ¿Qué se debe hacer si se aproxima un vehículo de emergencia con luces y sirenas encendidas?</p>
        <input type="radio" id="a24" name="pregunta4" value="a24">
        <label for="a24">Seguir conduciendo normalmente</label>
        <br>
        <input type="radio" id="b24" name="pregunta4" value="b24">
        <label for="b24">Detenerse en el arcén y dejar paso libre</label>
        <br>
        <input type="radio" id="c24" name="pregunta4" value="c24">
        <label for="c24">Aumentar la velocidad para despejar el camino</label>
        <br>
        <br><br><br><br><br>

        <!-- Pregunta 5 -->
        <img width="300px" src="../../assets/img/distanciaSeguridad.jpeg" alt="">
        <br>
        <p>5. ¿Qué distancia de seguridad se debe mantener con el vehículo que nos precede en una autovía?</p>
        <input type="radio" id="a25" name="pregunta5" value="a25">
        <label for="a25">Al menos 50 metros</label>
        <br>
        <input type="radio" id="b25" name="pregunta5" value="b25">
        <label for="b25">Al menos 100 metros</label>
        <br>
        <input type="radio" id="c25" name="pregunta5" value="c25">
        <label for="c25">Al menos 150 metros</label>
        <br>
        <br><br><br><br><br>

        <!-- Pregunta 6 -->
        <br>
        <p>6. ¿Qué es el efecto Venturi y cómo puede afectar al rendimiento de un vehículo?</p>
        <input type="radio" id="a26" name="pregunta6" value="a26">
        <label for="a26">Es un principio físico que describe la relación entre la velocidad del aire y la presión, y
            puede afectar al consumo de combustible y la aerodinámica del vehículo.</label>
        <br>
        <input type="radio" id="b26" name="pregunta6" value="b26">
        <label for="b26">Es un dispositivo de seguridad que ayuda a evitar el sobrecalentamiento del motor en
            condiciones extremas.</label>
        <br>
        <input type="radio" id="c26" name="pregunta6" value="c26">
        <label for="c26">Es una técnica de conducción avanzada que permite aumentar la velocidad en rectas largas sin
            incrementar el consumo de combustible.</label>
        <br>
        <br><br><br><br><br>


        <!-- Pregunta 7 -->
        <img width="300px" src="../../assets/img/CederPaso.png" alt="">
        <br>
        <p>7. ¿Qué significa una señal de tráfico triangular con el vértice hacia abajo?</p>
        <input type="radio" id="a27" name="pregunta7" value="a27">
        <label for="a27">Ceda el paso</label>
        <br>
        <input type="radio" id="b27" name="pregunta7" value="b27">
        <label for="b27">Paso obligatorio</label>
        <br>
        <input type="radio" id="c27" name="pregunta7" value="c27">
        <label for="c27">Peligro</label>
        <br>
        <br><br><br><br><br>

        <!-- Pregunta 8 -->
        <img width="300px" src="../../assets/img/SeñalesVelocidades.jpeg" alt="">
        <br>
        <p>8. ¿Cuál es la velocidad máxima permitida en una vía urbana?</p>
        <input type="radio" id="a28" name="pregunta8" value="a28">
        <label for="a28">50 km/h</label>
        <br>
        <input type="radio" id="b28" name="pregunta8" value="b28">
        <label for="b28">60 km/h</label>
        <br>
        <input type="radio" id="c28" name="pregunta8" value="c28">
        <label for="c28">70 km/h</label>
        <br>
        <br><br><br><br><br>

        <!-- Pregunta 9 -->
        <img width="300px" src="https://www.emesa-m30.es/wp-content/uploads/2020/10/Senal_R200.jpg" alt="">
        <br>
        <p>9. ¿Qué indica una señal de tráfico con una franja horizontal roja sobre fondo blanco?</p>
        <input type="radio" id="a29" name="pregunta9" value="a29">
        <label for="a29">Prohibición de paso</label>
        <br>
        <input type="radio" id="b29" name="pregunta9" value="b29">
        <label for="b29">Zona de carga y descarga</label>
        <br>
        <input type="radio" id="c29" name="pregunta9" value="c29">
        <label for="c29">Límite de velocidad</label>
        <br>
        <br><br><br><br><br>

        <!-- Pregunta 10 -->
        <img width="300px" src="../../assets/img/distanciaFrenado.jpg" alt="">
        <br>
        <p>10. ¿Qué factores pueden afectar significativamente la distancia de frenado de un vehículo?</p>
        <input type="radio" id="a30" name="pregunta10" value="a30">
        <label for="a30">La velocidad, el estado de los frenos, la adherencia de los neumáticos y las condiciones
            climáticas.</label><br>
        <input type="radio" id="b30" name="pregunta10" value="b30">
        <label for="b30">El tipo de combustible utilizado, el sistema de iluminación del vehículo y la presión de los
            neumáticos.</label><br>
        <input type="radio" id="c30" name="pregunta10" value="c30">
        <label for="c30">La música que se escucha dentro del vehículo, la temperatura exterior y la presión
            atmosférica.</label><br>
        <input type="radio" id="d30" name="pregunta10" value="d30">
        <label for="d30">El número de pasajeros en el vehículo, el color de la carrocería y la potencia del
            motor.</label><br>

        <br>




        <button type="submit" class="btn btn-primary btn-block m-4" id="botonEnviarTest">Enviar Test</button>

    </form>
</body>

</html>